@import "tailwindcss";


@theme {
  --color-green-100: #DCF9DD;
  --color-green-300: #38AF3D;
  --color-green-500: #06620A;
  --color-green-700: #073C0A;
}



.single-thumb .range-slider__thumb[data-lower] {
  width: 0px;
  opacity: 0;
  border-radius: 0px;
}
.single-thumb .range-slider__range {
  border-radius: 6px;

}



