@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' #06620A,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

